jobs:
  Analysis:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '11'

      - name: Build & test (maven) - generate JaCoCo XML
        run: mvn -B clean verify
        # if your backend code is in a subfolder, add `working-directory: ./backend`

      - name: Upload JaCoCo XML (debug - optional)
        if: always()
        run: ls -la target/site/jacoco || true

      - name: Analyze with SonarCloud
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=HamzaRomdhani_fullstack-spring-boot-and-react-
            -Dsonar.organization=hamzaromdhani
            -Dsonar.host.url=https://sonarcloud.io
            -Dsonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml
          projectBaseDir: .
