name: SonarCloud Analysis

on:
  push:
    branches:
      - main
      - master
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  Analysis:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Important for Sonar to analyze the full history

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '11'
          cache: 'maven'
          # Cache Maven dependencies inside the backend folder to speed up build
          path: |
            ~/.m2/repository
            spring-backend/target

      - name: Build & test (maven) - generate JaCoCo XML
        # CRITICAL: We run this in the spring-backend directory
        working-directory: ./spring-backend
        run: mvn -B clean verify

      - name: Analyze with SonarCloud
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.HUBGIT_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=HamzaRomdhani_fullstack-spring-boot-and-react-
            -Dsonar.organization=hamzaromdhani
            -Dsonar.host.url=https://sonarcloud.io
          # projectBaseDir remains . (root) because we created sonar-project.properties there